.section-padding {
  padding-top: 3rem;
}

.skills-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  border-radius: 20px;
}

.skills-table h1 {
  margin: 0;
  font-size: 35px;
}

.skills-table-populated {
  display: flex;
  width: 85%;
  justify-content: space-between;
}

/* .skills-table-row {
    width: 25%;
  } */

.skills-table-row h2 {
  text-align: center;
  font-size: 25px;
  padding-top: 2rem;
}

.skills-description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2.8em;
  padding-right: 2.8em;
}

.skills-description p {
  padding-left: 1.5em;
  font-size: 20px;
  padding-bottom: 10px;
}

.logo {
  width: 4em;
  height: 4em;
  object-fit: contain;
}

@media only screen and (max-width: 1278px) {
  .skills-table-populated {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }

  .skills-table-row {
    width: 40%;
    margin: 0 auto;
    padding-top: 55px;
  }

  .skills-table-row h2 {
    padding-bottom: 15px;

    margin: 0;
  }

  .skills-description {
    justify-content: flex-start;
    padding-left: 20%;
  }

  .skills-description p {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .skills-table-populated {
    flex-direction: column;
  }

  .skills-table-row {
    width: 80%;
    margin: 0 auto;
    padding-top: 55px;
  }

  .skills-table-row h2 {
    padding-bottom: 15px;
    margin: 0;
  }

  .skills-description {
    justify-content: flex-start;
    padding-left: 8%;
  }

  .skills-description p {
    padding-left: 20px;
  }
}
